body {
    background: #0c1c38;
    margin: 0;
    padding: 0;
    color:white;
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif; */
    /* -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  }
  
  /* code {
    justify-content: center;
    align-items: center;
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  } */
  
  .page {
    color: white;
    max-width: 960px;
    padding: 20px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }

  
  .buttons-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
    color: white;
    grid-template-columns: repeat(4, 150px);
  }

  
  .button-wrapper {
    background-color: grey;
    margin: 5px;
  }
    .buttons-fun{
        color: white;
        height: 150px;
        width: 150px;
    }
    .btn-securityresource{
      margin: 5px;
      background-color: purple;
      align-content: center;
      align-items:center ;
      color: white;
      height: 150px;
      width: 150px;
    
    }

    